{% extends 'base.html' %}

{% block title %}{{ recipe.title }} - Recipe App{% endblock %}

{% block content %}
<h1>{{ recipe.title }}</h1>
<p><strong>Description:</strong> {{ recipe.description }}</p>
<p><strong>Ingredients:</strong> {{ recipe.ingredients }}</p>
<p><strong>Instructions:</strong> {{ recipe.instructions }}</p>

{% if user == recipe.user %}
    <a href="{% url 'recipe-update' recipe.pk %}" class="btn btn-warning btn-sm">Edit</a>
    <a href="{% url 'recipe-delete' recipe.pk %}" class="btn btn-danger btn-sm">Delete</a>
    <a class="btn btn-info mt-2" href="{% url 'ingredient-list' recipe.id %}">Add Ingredients</a>
{% endif %}
<a class="btn btn-info mt-2" href="{% url 'review-list' recipe.id %}">View Reviews</a>

<a href="{% url 'recipe-list' %}" class="btn btn-secondary btn-sm mt-2">Back to Recipes</a>
{% endblock %}
